.bg-00c0ef
  background-color: #00c0ef !important;

.bg-00a65a
  background-color: #00a65a !important;

.bg-ff851b
  background-color: #ff851b !important;

.bg-D81B60
  background-color: #D81B60 !important;

